<nz-card>
  <img src="https://github-readme-stats.vercel.app/api?username=kainonly&show_icons=true&hide_border=true" />
</nz-card>
<!--<nz-card>-->
<!--  <form [formGroup]="form" nz-form nzLayout="inline">-->
<!--    <nz-form-item style="width: 160px">-->
<!--      <nz-form-control>-->
<!--        <nz-select formControlName="type">-->
<!--          <nz-option [nzValue]="'email'" nzLabel="电子邮件"></nz-option>-->
<!--        </nz-select>-->
<!--      </nz-form-control>-->
<!--    </nz-form-item>-->
<!--    <nz-form-item style="width: 400px">-->
<!--      <nz-form-control>-->
<!--        <textarea rows="4" nz-input placeholder="内容"></textarea>-->
<!--      </nz-form-control>-->
<!--    </nz-form-item>-->
<!--    <nz-form-item>-->
<!--      <nz-form-control>-->
<!--        <button nz-button nzType="primary"><i nz-icon nzType="send"></i> 发送</button>-->
<!--      </nz-form-control>-->
<!--    </nz-form-item>-->
<!--  </form>-->
<!--</nz-card>-->
<!--<nz-card>-->
<!--  <input nz-input placeholder="手记搜索" />-->
<!--  <nz-list nzItemLayout="vertical">-->
<!--    <nz-list-item *ngFor="let item of data">-->
<!--      <nz-list-item-meta>-->
<!--        <nz-list-item-meta-avatar [nzSrc]="item.avatar"></nz-list-item-meta-avatar>-->
<!--        <nz-list-item-meta-title>-->
<!--          <a href="{{ item.href }}">{{ item.title }}</a>-->
<!--        </nz-list-item-meta-title>-->
<!--        <nz-list-item-meta-description>-->
<!--          {{ item.description }}-->
<!--        </nz-list-item-meta-description>-->
<!--      </nz-list-item-meta>-->
<!--      {{ item.content }}-->
<!--      <ul nz-list-item-actions>-->
<!--        <nz-list-item-action>-->
<!--          <i nz-icon nzType="star-o" style="margin-right: 8px"></i>-->
<!--          156-->
<!--        </nz-list-item-action>-->
<!--        <nz-list-item-action>-->
<!--          <i nz-icon nzType="star-o" style="margin-right: 8px"></i>-->
<!--          156-->
<!--        </nz-list-item-action>-->
<!--        <nz-list-item-action>-->
<!--          <i nz-icon nzType="star-o" style="margin-right: 8px"></i>-->
<!--          2-->
<!--        </nz-list-item-action>-->
<!--      </ul>-->
<!--      <nz-list-item-extra>-->
<!--        <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />-->
<!--      </nz-list-item-extra>-->
<!--    </nz-list-item>-->
<!--  </nz-list>-->
<!--  <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>-->
<!--</nz-card>-->
<nz-card>
  <figure>
    <embed
      src="https://wakatime.com/share/@af41afe2-6df2-4059-b756-c24617adfa03/de0bb183-1655-4686-8c68-94b00a12d254.svg"
    />
  </figure>
</nz-card>
<nz-card>
  <figure>
    <embed
      src="https://wakatime.com/share/@af41afe2-6df2-4059-b756-c24617adfa03/06e264fc-821e-458f-a7ba-5973f61bb503.svg"
    />
  </figure>
</nz-card>
<nz-footer>
  <nz-space class="footer" [nzSplit]="split">
    <ng-template #split>
      <nz-divider nzType="vertical"></nz-divider>
    </ng-template>
    <a *nzSpaceItem href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">
      <i nz-icon nzType="safety"></i> 琼ICP备18004473号
    </a>
    <a *nzSpaceItem href="https://github.com/kainonly" target="_blank"> <i nz-icon nzType="github"></i> KAINONLY </a>
    <a *nzSpaceItem href="https://www.yuque.com/kainonly" target="_blank"> <i nz-icon nzType="yuque"></i> 语雀 </a>
  </nz-space>
</nz-footer>
