<nz-card>
  <img src="https://github-readme-stats.vercel.app/api?username=kainonly&show_icons=true&hide_border=true" />
</nz-card>
<nz-card>
  <figure>
    <embed
      src="https://wakatime.com/share/@af41afe2-6df2-4059-b756-c24617adfa03/cd4ce45e-8787-483e-a36f-4185547cd961.svg"
    />
  </figure>
</nz-card>
<nz-card>
  <figure>
    <embed
      src="https://wakatime.com/share/@af41afe2-6df2-4059-b756-c24617adfa03/0eb6bb5e-c9fd-4a75-82f4-c5c795b65c8d.svg"
    />
  </figure>
</nz-card>
<nz-card>
  <figure>
    <embed
      src="https://wakatime.com/share/@af41afe2-6df2-4059-b756-c24617adfa03/951d2739-cbda-4493-a6f5-d1f150ef2e44.svg"
    />
  </figure>
</nz-card>
<nz-card>
  <figure>
    <embed
      src="https://wakatime.com/share/@af41afe2-6df2-4059-b756-c24617adfa03/cbc49eee-2fce-47de-9e63-62b7e3838450.svg"
    />
  </figure>
</nz-card>
<nz-footer>
  <nz-space class="footer" [nzSplit]="split">
    <ng-template #split>
      <nz-divider nzType="vertical"></nz-divider>
    </ng-template>
    <a *nzSpaceItem href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">
      <i nz-icon nzType="safety"></i> 琼ICP备18004473号
    </a>
    <a *nzSpaceItem href="https://github.com/kainonly" target="_blank"> <i nz-icon nzType="github"></i> KAINONLY </a>
    <a *nzSpaceItem href="https://www.yuque.com/kainonly" target="_blank"> <i nz-icon nzType="yuque"></i> 语雀 </a>
  </nz-space>
</nz-footer>
