<div nz-row nzGutter="16">
  <div nz-col nzSpan="9">
    <nz-input-group style="margin-bottom: 1rem" [nzSuffix]="suffixIcon">
      <input type="text" nz-input placeholder="Search" [(ngModel)]="search"/>
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <nz-tree
      [nzBlockNode]="true"
      [nzCheckable]="true"
      [nzShowLine]="true"
      [nzShowIcon]="true"
      [nzData]="nodes"
      [nzSearchValue]="search">
    </nz-tree>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="selectDropdown()">Action 1</li>
        <li nz-menu-item (click)="selectDropdown()">Action 2</li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <div nz-col nzSpan="15">
    <ng-template #nzExtra>
      <button nz-button nzType="primary" nzSize="small">重载键值</button>
      <button style="margin-left: 0.5rem" nz-button nzType="primary" nzSize="small">有效期</button>
    </ng-template>

    <ng-template #nzTitle>
      <nz-tag [nzColor]="'blue'">STRING</nz-tag>
    </ng-template>

    <nz-card nzType="inner" [nzTitle]="nzTitle" [nzExtra]="nzExtra">
      <nz-page-header nzTitle="键名">
        <nz-page-header-subtitle>
          refresh-token:3a51408f-6179-4afa-a624-f94ef2be0f6d
          <a><i nz-icon nzType="edit"></i></a>
        </nz-page-header-subtitle>

        <nz-page-header-extra>
          <nz-select style="width: 120px;" [(ngModel)]="type" nzAllowClear nzPlaceHolder="Choose">
            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
          </nz-select>
        </nz-page-header-extra>

        <nz-page-header-content>
          adasd
        </nz-page-header-content>

        <nz-page-header-footer>
          <button nz-button nzType="primary">保存</button>
          <button style="margin-left: 0.5rem" nz-button nzType="danger">删除</button>
        </nz-page-header-footer>
      </nz-page-header>
    </nz-card>
  </div>
</div>
