<nz-layout class="main">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>
        <i nz-icon nzType="dashboard"></i>
        <span>仪表盘</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="plus-circle"></i>
        <span>创建 Redis 服务器</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="plus-circle"></i>
        <span>创建分组</span>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="tags" nzTitle="自定义分组">
          <ul>
            <li nz-menu-item nzSelected>服务器 A</li>
            <li nz-menu-item>服务器 B</li>
            <li nz-menu-item>服务器 C</li>
            <li nz-menu-item>服务器 D</li>
          </ul>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="tag"></i>
          <span>服务器 1</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="tag"></i>
          <span>服务器 2</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>仪表盘</nz-breadcrumb-item>
        <nz-breadcrumb-item>自定义分组</nz-breadcrumb-item>
        <nz-breadcrumb-item>服务器 A</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="10">
            <nz-card nzTitle="服务器 A"
                     [nzBordered]="false"
                     [nzExtra]="redisExtra">
              <div class="operate-panel">
                <nz-select class="select-database"
                           [(ngModel)]="select"
                           nz-tooltip
                           nzTooltipTitle="请选择一个数据库"
                           nzTooltipPlacement="topCenter">
                  <nz-option *ngFor="let v of database" [nzValue]="v" [nzLabel]="v"></nz-option>
                </nz-select>

                <button class="operate-btn"
                        nz-button
                        nzType="default">
                  <i nz-icon nzType="sync"></i>
                </button>
                <button class="operate-btn"
                        nz-button
                        nzType="default">
                  新增数据
                </button>
                <button class="operate-btn"
                        nz-button
                        nzType="danger"
                        [disabled]="true">
                  批量移除
                </button>
              </div>
              <nz-table nzVirtualScroll
                        [nzVirtualItemSize]="20"
                        [nzFrontPagination]="false"
                        [nzShowPagination]="false"
                        [nzScroll]="{ x: '800px', y: '450px' }"
                        [nzVirtualForTrackBy]="trackByIndex"
                        [nzData]="listOfData">
                <thead>
                <tr>
                  <th nzWidth="50px" nzShowCheckbox></th>
                  <th>键名</th>
                  <th nzWidth="100px"
                      nzAlign="center"
                      nzRight="0px">
                    操作
                  </th>
                </tr>
                </thead>
                <tbody>
                <ng-template nz-virtual-scroll let-data let-index="index">
                  <tr nz-tooltip [nzTooltipTitle]="data.key" nzTooltipPlacement="topLeft">
                    <td nzShowCheckbox></td>
                    <td>{{data.key}}</td>
                    <td nzAlign="center" nzRight="0px">
                      <a>
                        <i nz-icon nzType="edit"></i>
                      </a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a>
                        <i nz-icon nzType="delete"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
                </tbody>
              </nz-table>
            </nz-card>
            <ng-template #redisExtra>
              <a nz-dropdown [nzDropdownMenu]="operateMore">
                <i nz-icon nzType="ellipsis"></i>
              </a>
              <nz-dropdown-menu #operateMore>
                <ul nz-menu>
                  <li nz-menu-item>
                    <i nz-icon nzType="code"></i>
                    <span>启动命令行</span>
                  </li>
                  <li nz-menu-item>
                    <i nz-icon nzType="warning"></i>
                    <span>清除数据库</span>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="14">
            <nz-card nzTitle="键名: buy-source"
                     [nzBordered]="false"
                     [nzExtra]="operateExtra">
              <nz-descriptions nzBordered [nzColumn]="3">
                <nz-descriptions-item nzTitle="类型">Zset</nz-descriptions-item>
                <nz-descriptions-item nzTitle="大小">16k</nz-descriptions-item>
                <nz-descriptions-item nzTitle="有效期">3600</nz-descriptions-item>
                <nz-descriptions-item nzTitle="键值" [nzSpan]="3">-</nz-descriptions-item>
              </nz-descriptions>
            </nz-card>
            <ng-template #operateExtra>
              <a>重命名</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>设置有效期</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>移除</a>
            </ng-template>
          </div>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
