.main {
  height: 100%;
}

.header {
  height: 42px;
  padding: 0;
}

.header-menu {
  line-height: 42px;
}

.content {
  padding-top: 2px;
}

.section {
  height: 100%;
  background: #fff;
}

.operate-panel {
  margin-bottom: 16px;

  button {
    margin-left: 4px;
  }
}

.database-number {
  width: 100px;
}

.search-key {
  margin-bottom: 4px;
}

.redis-key {
  height: 100%;
}

