.main {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 100%;
  background-image: url('/assets/ant-bg.svg');
}

nz-sider {
  padding: 24px;
}

.user {
  text-align: center;
  padding: 12px 0;

  h3 {
    margin: 0.5em;
  }
}

.detail {
  padding: 24px 16px 0;
}

nz-content {
  padding: 24px;
  overflow: auto;
}
