<nz-layout class="main">
  <nz-header class="header">
    <ul class="header-menu"
        nz-menu
        [nzTheme]="'dark'"
        [nzSelectable]="false"
        [nzMode]="'horizontal'">
      <li nz-menu-item>
        <i nz-icon nzType="dashboard"></i>
        <span>RedisVisable</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="read"></i>
        <span>我的实例</span>
      </li>
    </ul>
  </nz-header>
  <nz-page-header class="content">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>开源项目</nz-breadcrumb-item>
      <nz-breadcrumb-item>服务器 A</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-title>服务器 A</nz-page-header-title>
    <nz-page-header-subtitle>127.0.0.1</nz-page-header-subtitle>
    <nz-page-header-tags>
      <nz-tag [nzColor]="'blue'">5.0.5</nz-tag>
    </nz-page-header-tags>
    <nz-page-header-extra>
      <nz-select class="database-number"
                 nz-tooltip
                 nzTooltipTitle="请选择一个数据库"
                 nzTooltipPlacement="topCenter"
                 [(ngModel)]="select">
        <nz-option *ngFor="let v of database" [nzValue]="v" [nzLabel]="v"></nz-option>
      </nz-select>
      <button nz-button>
        <i nz-icon nzType="sync"></i>
      </button>
      <button nz-button nzType="primary">新增数据</button>
      <button nz-button nzType="default" [disabled]="true">批量删除</button>
      <button nz-button nz-dropdown [nzDropdownMenu]="tools">
        <i nz-icon nzType="ellipsis"></i>
      </button>
      <nz-dropdown-menu #tools>
        <ul nz-menu>
          <li nz-menu-item>
            <i nz-icon nzType="code"></i>
            <span>启动命令行</span>
          </li>
          <li nz-menu-item>
            <i nz-icon nzType="warning"></i>
            <span>清除数据库</span>
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-extra>
    <nz-page-header-content nz-row [nzGutter]="8">
      <div nz-col
           nz-resizable
           (nzResize)="onResize($event)"
           [nzMinColumn]="6"
           [nzMaxColumn]="18"
           [nzGridColumnCount]="24"
           [nzSpan]="span">
        <div class="search-key">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="请输入搜索的键名"/>
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </div>
        <nz-table nzSize="small"
                  [nzBordered]="true"
                  [nzVirtualScroll]="true"
                  [nzVirtualForTrackBy]="trackByIndex"
                  [nzScroll]="{  y: scrollHeight+'px' }"
                  [nzShowPagination]="false"
                  [nzFrontPagination]="false"
                  [nzData]="listOfData">
          <thead>
          <tr>
            <th nzWidth="50px" nzShowCheckbox></th>
            <th>键名</th>
          </tr>
          </thead>
          <tbody>
          <ng-template nz-virtual-scroll let-data let-index="index">
            <tr>
              <td nzShowCheckbox></td>
              <td>{{data.key}}</td>
            </tr>
          </ng-template>
          </tbody>
        </nz-table>
        <nz-resize-handles [nzDirections]="['right']"></nz-resize-handles>
      </div>
      <div nz-col [nzSpan]="24-span">
        <nz-descriptions [nzBordered]="true"
                         [nzColumn]="3"
                         [nzSize]="'small'">
          <nz-descriptions-item nzTitle="键名" [nzSpan]="3">buy-source</nz-descriptions-item>
          <nz-descriptions-item nzTitle="类型">Zset</nz-descriptions-item>
          <nz-descriptions-item nzTitle="大小">16k</nz-descriptions-item>
          <nz-descriptions-item nzTitle="有效期">3600</nz-descriptions-item>
          <nz-descriptions-item nzTitle="操作" [nzSpan]="3">
            <a>重命名</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>设置键值</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>设置有效期</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>移除</a>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="键值" [nzSpan]="3">
            <!--            <nz-code-editor class="editor" [ngModel]="code"-->
            <!--                            [nzEditorOption]="{ language: 'typescript' }"></nz-code-editor>-->
          </nz-descriptions-item>
        </nz-descriptions>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</nz-layout>
